<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5 m-auto">
            <div class="card shadow-lg border rounded-5">
                <div class="card-body">
                    <div class="card border-0 my-3">
                        <img src="../../../assets/images/logo.svg" alt="">
                    </div>
                    <form (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                        <input type="text" name="username" class="form-control my-4 py-2" placeholder="Username" ngModel>
                        <input type="password" name="password" class="form-control my-4 py-2" placeholder="Password" ngModel>
                        <button class="btn btn-md btn-primary btn-lock my-3" style="width: 100%;">Login</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>