<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-5 m-auto">
            <div class="card shadow-lg border rounded-5">
                <div class="card-body">
                    <div class="card border-0 my-3">
                        <img src="../../../assets/images/logo.svg" alt="">
                    </div>
                    <form action="">
                        <input type="text" class="form-control my-4 py-2" placeholder="Username">
                        <input type="text" class="form-control my-4 py-2" placeholder="Password">
                        <div class="d-grid gap-2 ">
                            <a href="" class="btn btn-primary text-center p-2 my-3">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>